
/*Photos Index Page Styling*/
.photo-index {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.photo-bottom-icon-bar {
  margin-top: 10px;
  font-size: 25px;
}

.liked-icon {
  color: #ed4955;
}

.photos-index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 600px;
  margin-top: 120px;

  font-size: 12px;
}

.photo-author-body{
  padding: 4px 0;
}
.likes-counter {
  padding: 4px 0;
}
.photo-age {
  padding: 4px 0;
}
.side-bar-top {
  display: flex;
  flex-direction: row;
  max-width: 293px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
}
.current-user-img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}
.currentuser-username-email{
  display: flex;
  flex-direction: column;
}
.current-user-email {
  color: rgb(153, 153, 153);
  font-weight: 400;
}
.footer-links {
  width: 293px;
}
.footer-links > * {
  color: rgb(153, 153, 153);
  font-size: 11px;
  margin-right: 10px;
}
.fa-copyright {
  color: rgb(153, 153, 153);
  font-size: 11px;
  margin-right: 5px;
}
.copyright {
  margin-top: 3px;
}


.photo-item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 50px;

  background: white;
  border: 1px solid #e6e6e6;
}

.photo-item-image {
  height: 600px;
  cursor: pointer;
}

.photo-top-container {
  display: flex;
  flex-direction: row;
  height: 60px;

  padding-left: 20px;
}

.photo-top-container > * {
  margin: auto 0;
}


.photo-bottom-container {
  display: flex;
  flex-direction: column;
  min-height: 120px;
  padding: 0px 20px;
  width: 598px;
}

.photo-body {
  display: flex;
  flex-direction: row
}

.photo-body > h4{
  padding-left: 10px;

  font-weight: normal;
}

.photo-author-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}


.modal-photo-author-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 50%;
}
.modal-photo-author-name {
  margin-top: 20px;
  margin-right: 15px;
}
.modal-already-following-button, .modal-notyet-following-button {
  margin-top: 15px;
  padding: 3px 10px;
  font-size: 14px;
  font-weight: 600;
  height: 20px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;

}

.side-bar {
  margin-left: 25px;
  font-size: 13px;
  color: gray;
  width: 293px;
  position: relative;
  top: 120px;
  left: 10px;

}
.side-bar-fix{
  position: fixed;
  top: 120px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.side-bar > * {
  cursor: pointer;
}


.current-user-username {
  margin-bottom: 3px;
}





/*photo index modal */
.photo-show-modal-div {
  width: 955px;
  height: 600px;
}
.photo-show-body > h3 {
  margin-right: 7px;
}
.photo-show-comment {
  width: 355px;
  height: 600px;
}
.photo-show-comment-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  height: 10%;
  border-bottom: 1px solid #efefef;
}
.photo-show-comment {

}
.photo-index-show-comment-body {
  justify-content: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 325px;
  height: 540px;
}
.photo-comments {
  width: 325px;
  /*height: 520px;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.photo-comments-bottom {
  margin-bottom: 15px;
}
.photo-bottom-icon-bar > * {
  margin-right: 15px;
}

.modalcomments-list {
  height: 370px;
  overflow-y: scroll !important;
}
.modalcomments-list > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modalcomments-author-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 4px 0;
}
.modalcomments-author-body > h3 {
  padding-right: 7px;
  font-weight: 700;
}
.modalcomments-author-body > h4 {
  width: 250px;
  overflow-wrap: break-word;
}
.modalcreate-comment-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 315px;
  padding: 15px 0;
  border-top: 1px solid #efefef;
}
.modalnew-comment-body {
  width: 270px;
}
.modalcomments-item {
  width: 300px;
}
.modal-age{
  margin-bottom: 10px;
}
.fa-heart {
  cursor: pointer;
}
.photo-author-img {
  cursor: pointer;
}
