
/*Photos Index Page Styling*/
.photo-index {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.photo-bottom-icon-bar {
  margin-top: 10px;
  font-size: 25px;
}

.liked-icon {
  color: #ed4955;
}

.photos-index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 600px;
  margin-top: 3.5%;

  font-size: 12px;
}

.photo-author-body{
  padding: 4px 0;
}
.likes-counter {
  padding: 4px 0;
}
.photo-age {
  padding: 4px 0;
}
.side-bar-top {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
}
.current-user-img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}
.currentuser-username-email{
  display: flex;
  flex-direction: column;
}
.current-user-email {
  color: rgb(153, 153, 153);
  font-weight: 400;
}
.footer-links {
}
.footer-links > * {
  color: rgb(153, 153, 153);
  font-size: 11px;
  margin-right: 10px;
}
.fa-copyright {
  color: rgb(153, 153, 153);
  font-size: 11px;
  margin-right: 5px;
}
.copyright {
  margin-top: 3px;
}


.photo-item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 50px;

  background: white;
  border: 1px solid #e6e6e6;
}

.photo-item-image {
  height: 600px;
  cursor: pointer;
}

.photo-top-container {
  display: flex;
  flex-direction: row;
  height: 60px;

  padding-left: 20px;
}

.photo-top-container > * {
  margin: auto 0;
}


.photo-bottom-container {
  display: flex;
  flex-direction: column;
  min-height: 120px;
  padding: 0px 20px;
}

.photo-body {
  display: flex;
  flex-direction: row
}

.photo-body > h4{
  padding-left: 10px;

  font-weight: normal;
}

.photo-author-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.side-bar {
  margin-left: 25px;
  margin-top: 3.5%;
  font-size: 13px;
  color: gray;
  width: 293px;
}
.side-bar > * {
  cursor: pointer;
}
.current-user-username {
  margin-bottom: 3px;
}





/*photo index modal */
.photo-show-modal-div {
  width: 955px;
  height: 600px;
}
.photo-show-comment {
  width: 355px;
}
.photo-show-comment-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}
.photo-index-show-comment-body {
  justify-content: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 325px;
}
.photo-comments {
  width: 325px;
}
