
/*login page css*/

/*Nav Bar Styling*/

html, body, main {
  /*position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
  height: 100%;
}


.main-body {
  height: 100%;
  position: relative;
  background: #fafafa;


}

.nav-container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #AD234B;
  color: white;
  font-weight: bold;
}

.header-link {

}

.login-signup {
  display: inline-flex;
  align-content: flex-end;
}

.login-signup > a {
  padding: 0px 10px;
}

.login-signup:last-child {
  padding: 0px 20px;
}


/*Login Sign Up Form Styling*/

.login-form-container {
  width: 300px;
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  border: 1px solid #e6e6e6;
  border-radius: 1px;
}

.login-form-box > h1 {
  font-size: 40px;
  font-weight: 900;
  padding-bottom: 10px;
}

.login-form-box > h2 {
  display: inline-block;
  width: 260px;
  font-size: 17px;
  font-weight: 700;
  color: rgb(153, 153, 153);
  padding-bottom: 30px;
}

.login-signup-errors {
  color: rgb(237, 73, 86);
  font-size: 15px;

  display: inline-block;
  width: 260px;
  padding: 10px;
}

.login-input {
  text-align: left;
  width: 270px;
  border: 1px solid #efefef;
  border-radius: 1px;
  margin: 3px;
  padding: 5px;
}

.submit-button {
  font-weight: bold;
  box-sizing: border-box;
  margin: 5px 10px;
  padding: 3px 20px;
  width: 270px;
  background: rgb(56, 151, 240);
  color: white;
  border-radius: 3px;

}

.login-form-redirect > a {
  margin-left: 10px;
  color: #3897f0;
}
