
.user-profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 800px;
  margin: 20px auto 0 auto;
  padding: 20px;
}

.user-img {
  width: 152px;
  height: 152px;
  margin-right: 80px;
  border-radius: 50%;
}
.user-profile-username {
  margin-right: 35px;
  font-weight: 500;
}
.already-following-button, .notyet-following-button {
  font-size: 14px;
  font-weight: 600;
  height: 30px;
  padding: 0px 50px;
  margin-top: 5px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
}


.user-profile-right {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.user-profile-right-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.user-profile-right-top > h3 {
  font-size: 32px;
}


.user-profile-right-bottom {
  display: flex;
  flex-direction: row;
}

.user-profile-right-bottom > * {
  margin-right: 45px;
  font-size: 20px;
}
.user-profile-right-bottom > h4 > strong {
  font-weight: 700;
}
