
/*Login Sign Up Form Styling*/


.login-form-all{
  width: 100%;
  margin-top: 5%;

  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}


.login-image {
  width: 430px;
  height: 640px;
}


.login-form-container-login {
  width: 300px;
  margin-top: 5%;
  height: 400px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  background: white;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
}


.login-form-container-signup {
  width: 300px;
  margin-top: 5%;

  height: 500px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  background: white;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
}


.login-form-box > h1 {
  font-size: 40px;
  font-weight: 900;
  padding-bottom: 10px;
}


.login-form-box > h2 {
  display: inline-block;
  width: 260px;
  font-size: 17px;
  font-weight: 700;
  color: rgb(153, 153, 153);
  padding-bottom: 20px;
}


.login-signup-errors {
  color: rgb(237, 73, 86);
  font-size: 15px;

  display: inline-block;
  width: 250px;
  padding-bottom: 20px;
}


.login-input {
  box-sizing: border-box;
  text-align: left;
  width: 270px;
  border: 1px solid #efefef;
  border-radius: 1px;
  margin: 3px;
  padding: 5px 10px;
}


/*OR with the lines on the sides*/

.login-form-demo-or {
  width: 270px;
  margin: 5px auto 20px auto;
  border-bottom: 1px solid #c7c7c7;
  line-height: 0.1em;
}

.login-form-demo-or > span {
  padding: 0px 15px;

  background: white;
  color: rgb(153, 153, 153);
  font-size: 15px;
  font-weight: bold;
}



.submit-button {
  box-sizing: border-box;
  font-weight: bold;
  box-sizing: border-box;
  margin: 10px 10px;
  padding: 3px 20px;
  width: 270px;
  background: rgb(56, 151, 240);
  color: white;
  border-radius: 3px;
}


.login-form-redirect > a {
  margin-left: 10px;
  color: #3897f0;
}

.login-form-box > button {
  margin-bottom: 20px;
}
