@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, h4, h5, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small,
ul, img, input, textarea, button {

  font-family: 'Open Sans', sans-serif;
  color: #262626;
}

h2 {
  font-size: 18px;
  font-weight: 700;

}

h3 {
  font-size: 14px;
  font-weight: 700;

}

h5 {
  font-size: 12px;
  font-weight: 400;
  color: #999;
}
