
/*login page css*/

/*Nav Bar Styling*/

html, body, main {
  /*position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
  height: 100%;
}


.main {
  height: 100vh;
  background-attachment: fixed;
}

.main-body {
  background: #fafafa;
  background-attachment: fixed;
}

.nav-container {
  width: 100%;
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  box-sizing: border-box;

  /*background: #AD234B;*/
  /*background: #fafafa;*/
  background: white;
  border-bottom: 1px solid #e6e6e6;

  color: rgb(153, 153, 153);
  font-weight: bold;
}

.nav-left {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 200px;
  padding-left: 10px;
}

.nav-bar-instagram-logo {
  width: 110px;
}

.nav-right {
  padding-right: 20px;
  margin-right: 200px;
}

.header-link {
  padding-left: 20px;
}

.header-group {
  display: flex;
  flex-direction: row;
}

.header-name {
  padding: 10px 0;
}

.header-button {
  padding: 10px 0px 10px 15px;
}

.login-signup {
  display: inline-flex;
  align-content: flex-end;
}

.login-signup > a {
  padding: 0px 10px;
}


.login-signup:last-child {
  padding-right: 20px;
}
