.loading-item {
 border: 5px solid #f3f3f3 ;
 border-top: 5px solid #3498db ;
 border-radius: 50%;
 margin: auto;
 margin-top: 50px;
 width: 30px;
 height: 30px;
 animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
